@font-face {
    font-family: 'arboria-bold';
    src: url('../fonts/arboria/arboria/ttf/arboria-bold.ttf');

    font-family: 'arboria-light';
    src: url('../fonts/arboria/arboria/ttf/arboria-light.ttf');

    font-family: 'axiforma';
    src: url('../fonts/axiforma/kastelov - Axiforma Regular.otf');

    font-family: 'axiforma-light-italic';
    src: url('../fonts/axiforma/kastelov - Axiforma Light Italic.otf');


}

body {
    font-family: 'arboria';
    background-color: #fcfcfc; 
}

p {
    font-family: 'Cabin', sans-serif;
}

h1 h2 {
    font-family: 'arboria-bold'
}



/* Mobil */

@media (max-width: 600px) {

    header img {
        width: 100%;
    }

    footer img {
        width: 100%;
    }


    /*Styles til landingpage mobil*/


    .landingoverskrift {
        font-family: 'axiforma';
    }



    /*landingpagemenu*/

    #landingmenu {
        margin-top: 10%
    }

    .webshop {
        width: 93%;
         display: block;
    margin-left: auto;
    margin-right: auto;
    
  
        
    }

    .aarhusrenseri {
        width: 45%;
        margin-left: 4%;
        margin-top: 4%
    }

    .silkeborgrenseri {
        width: 45%;
    }


}


/*storytelling*/

.landingoverskrift {
    text-align: center;
    margin-top: 25%
}

p {
    margin: 5%; text-align: center;
}

#streetfyr {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%
}


.citat {margin-top: 15%; font-style: italic;}
.citatdennis {font-weight: bold;}
.storysneaks {width: 45%; margin-left: 4%}

.storypige {width: 45%;}