@font-face {
    font-family: 'arboria';
    src: url('../fonts/Arboria/Arboria/ttf/Arboria-Medium.ttf');

    font-family: 'arboria-bold';
    src: url('../fonts/arboria/arboria/ttf/arboria-bold.ttf');

    font-family: 'arboria-light';
    src: url('../fonts/arboria/arboria/ttf/arboria-light.ttf');

    font-family: 'axiforma';
    src: url('../fonts/axiforma/kastelov - Axiforma Regular.otf');

    font-family: 'axiforma-light-italic';
    src: url('../fonts/axiforma/kastelov - Axiforma Light Italic.otf');


}

/* ------------- GENERELT ------------- */

body {
    font-family: 'arboria-bold', sans-serif;
    background-color: #fcfcfc;
}


p {
    font-family: 'Cabin', sans-serif;
}

h1,
h2,
    {
    font-family: 'arboria-bold', sans-serif;
}

/* -------- CleanSneaks Århus ------ */

/*---------Styling burgermenu-------*/
.hjem {
    width: 10%;
    text-align: left;
}

a {
    color: green;
}

.wrapper {
    display: fixed;
    width: 100%;
    height: 150px;
}

.nav-wrap {
    width: 50%;
    margin: 0 auto;
}

#menu {
    display: none;
}

#navdestop {
    overflow: hidden;
    transition: top 1s ease-in-out;
    background: #fcfcfc;
    margin-top: 0;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    height: 100%;
    top: -100%;
}

#menu:checked ~ #navdestop {
    top: 0;
}

#navdestop ul {
    height: 100%;
    width: 90%;
    padding-top: 0;
    left: 0;
    margin-left: 5%;
    position: absolute;
    top: 0;
}

#navdestop ul li {
    display: block;
    text-align: left;
    position: relative;
    top: 0;
    transition: top 1s ease-in-out;
    margin: 0;
}

#navdestop a {
    display: inline-block;
    font: 5px 'worksans_bold';
    text-decoration: none;
    position: relative;
    color: #f0f0f0;
}

#navigation-animation {
    height: 100%;
}

/* #################### Burgermenu ######################## */

.burger_menu {
    position: fixed;
    top: 35px;
    right: 5%;
    display: block;
    cursor: pointer;
    height: 21px;
    width: 25px;
    z-index: 101;
}

.burger_menu span {
    display: block;
    top: 8px;
    height: 3px;
    background: #1d1d1d;
    position: relative;
    -webkit-transition: width 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}

.burger_menu span {
    width: 25px;
}

.burger_menu span::after,
.burger_menu span::before {
    display: block;
    position: absolute;
    width: 25px;
    height: 3px;
    background: #1d1d1d;
    transition-property: margin, -webkit-transform;
    -webkit-transition-property: margin, -webkit-transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    -moz-transition-delay: 0.2s, 0s;
    -ms-transition-delay: 0.2s, 0s;
    -o-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
}

.burger_menu span::before {
    margin-top: -8px;
}

.burger_menu span::after {
    margin-top: 8px;
}

#menu:checked ~ .burger_menu span::before,
#menu:checked ~ .burger_menu span::after {
    margin-top: 0px;
    -webkit-transition-delay: 0.1s, 0.5s;
    -moz-transition-delay: 0.1s, 0.5s;
    -ms-transition-delay: 0.1s, 0.5s;
    -o-transition-delay: 0.1s, 0.5s;
    transition-delay: 0.1s, 0.5s;
}

#menu:checked ~ .burger_menu span::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#menu:checked ~ .burger_menu span::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#menu:checked ~ .burger_menu span {
    width: 0;
}


/* styling burger slut*/




/* Mobil */

@media (max-width: 768px) {

    p {
        margin: 5%;
    }


    .mobilheader {
        width: 100%;
    }

    .deskheader {
        display: none;
    }


    /*--------------------------styles til clean sneaks århus underside------------------*/
    /* Landing Page på Århus siden*/

    .landing-page {
        margin-top: 10%;
        position: relative;
    }

    .landing-page h1 {
        position: absolute;
        font-size: 320%;
        margin-top: 10%;
        color: #ff6819;
    }

    .landing-page h2 {
        font-family: 'axiforma-light-italic';
        color: white;
        opacity: 0.6;
        position: absolute;
        font-size: 90%;
        margin-top: 45%;

    }

    .landing-page section {
        margin-left: 5%
    }

    .hero-image-mobil {
        width: 100%;
        position: relative;
        z-index: -1;
    }

    .hero-image-computer {
        display: none;
    }


    .landing-page ul {
        font-family: 'Axiforma';
        font-size: 13px;
        line-height: 28px;
        position: absolute;
        text-align: right;
        list-style: none;
        bottom: 3%;
        right: 4%;
    }

    .landing-page li {
        border-style: solid;
        border-color: transparent;
        border-right-width: 3px;
        border-right-color: #d1641d;
        padding-right: 7px;
    }

    .landing-page a:link,
    a:visited {
        color: white;
        opacity: 0.6;
        text-decoration: none;
    }

    .landing-page a:hover {
        color: #d1641d;
        opacity: 1;
    }

    footer img {
        width: 100%;
    }

    /* Hvem er vi? */

    .hvem-er-vi h2 {
        text-decoration: underline;
        text-decoration-color: #ff6819;
        margin: 5%;
    }

    .hvem-er-vi img {
        width: 100%;
    }

    /* Så nemt er det */

    .saa-nemt-er-det h2 {
        text-decoration: underline;
        text-decoration-color: #ff6819;
        margin: 5%;
    }

    .saa-nemt-er-det img {
        width: 100%;
    }

    /* Tilbud og prisberegner */

    .tilbud-og-prisberegner {
        display: grid;
    }

    .tilbud-og-prisberegner h2 {
        text-decoration: underline;
        text-decoration-color: #ff6819;
        margin: 5%;
    }

    .tilbud-og-prisberegner h3 {
        font-family: 'axiforma-light-italic';
        margin: 5%;
        font-size: 15px;

    }

    input[type=image] {
        width: 100%;
    }

    input[type=number] {
        width: 30%;
        margin-left: 35%
    }

    .antal-sko p {
        float: right;
        text-align: center;
    }

    .antal-sko {
        display: grid;
    }

    .tilbud {
        display: grid;
        grid-row-gap: 30px;
        margin: 5%;
    }


    .tilvalg ul {
        font-family: 'Axiforma';
        list-style: none;
    }


    /* Anbefalinger */

    .anbefalinger-container {
        background-color: #1f2022;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .overskrift-anbefalinger {
        color: white;
        text-decoration: underline;
        text-decoration-color: #ff6819;
        text-align: center;
    }


    .anbefalinger {
        width: 80%;
        position: relative;
        padding-top: 100%;
        transform: translate(12.2%, 0%);
    }

    .anbefaling {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }

    .knap-hoejre {
        color: #fff;
        background-color: #1f2022;
        border: none;
        position: absolute;
        padding: 10px;
        top: 50%;
        left: 101%;
        transform: translate(0%, -50%);
        -ms-transform: translate(-0%, -50%);
    }

    .knap-venstre {
        color: #fff;
        background-color: #1f2022;
        border: none;
        position: absolute;
        padding: 10px;
        top: 50%;
        left: -11%;
        transform: translate(0%, -50%);
        -ms-transform: translate(-0%, -50%);
    }

    /* Twenty-twenty slider */

    .twentytwenty-container {}

    .hvorfor-clean-sneaks h2 {
        text-decoration: underline;
        text-decoration-color: #ff6819;
        margin: 5%;
    }

    /* Hvor er drop-off boksen? */


    .map-container {
        position: relative;
        width: 90%;
        height: 50vh;
        margin: 5%;
    }

    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 5px;
        width: 100%;
        z-index:
    }

    /* Snippet https://www.w3schools.com/howto/howto_js_tab_img_gallery.asp  */

    /* The grid: Four equal columns that floats next to each other */
    .column {
        position: relative;
        width: 20%;
        height: auto;
        padding-left: 10px;
    }

    .row {
        margin: 5%;
        display: flex;
        align-content: center;
    }

    /* Style the images inside the grid */
    .column img {
        width: 100%;
        opacity: 0.8;
        cursor: pointer;
    }

    .column img:hover {
        opacity: 1;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
    }

    /* The expanding image container (positioning is needed to position the close button and the text) */
    .container {
        position: relative;
        margin-left: 17%;
        width: 100%;
        display: none;
    }

    /* Expanding image text */
    #imgtext {
        position: absolute;
        bottom: 20px;
        left: 10px;
        color: white;
        font-size: 20px;
    }

    /* Closable button inside the image */
    .closebtn {
        position: absolute;
        right: 5px;
        color: white;
        font-size: 35px;
        cursor: pointer;
    }

    * .hvor-er-boksen h2 {
        text-decoration: underline;
        text-decoration-color: #ff6819;
        margin: 5%;
    }

    /* Kontakt og åbningstider */

    .kontakt-og-priser {
        margin-top: 20%;
    }

    .kontakt-og-priser h2 {
        padding-top: 5%;
        margin: 5%;
        text-align: center;
        text-decoration: underline;
        text-decoration-color: #ff6819;
    }

    .kontakt-og-priser p {
        text-align: center;
        font-size: 20px;
    }

    .galleri-grisk {
        display: none;
    }


    /*--------------------------styles til clean sneaks forside------------------*/

    /*generelt til forsiden*/
    .landingoverskrift {
        text-align: center;
        margin-top: 15%;
        font-size: 150%;

    }

    body {
        margin: 1%
    }

    .desktopimg {
        display: none;
    }

    .storypige {
        display: none;
    }





    /*det første af landingpage/forsiden webshop, århus renseri og Silkeborg renseri */

    #landingmenu {
        margin-top: 10%;


    }



    /* webshop knappen*/
    .webshop {
        width: 91%;

    }

    .webshop_container {
        position: relative;
        text-align: center;
    }

    .tekst_webshop {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #1f2022;
        color: white;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 2%;
        border: solid;
        5px;
        border-color: #f1f1f1;


    }

    .tekst_webshop p {
        font-size: 25px;
        text-align: center;
        text-transform: uppercase;
    }



    #webshoppil {
        color: #f1f1f1;

    }



    /* renserierne knapper*/

    .renserier {
        display: flex;
        width: 96%;
        margin-left: 1.5%;
        margin-top: 5%;

    }


    /* Århus renseri knap*/

    .aarhusrenseri {

        width: 90%;


    }



    .aarhuscontainer {
        position: relative;
        text-align: center;
    }

    .aarhus_tekst {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #1f2022;
        color: white;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 2%;
        border: solid;
        border-color: #ff6819;



    }

    .aarhus_tekst p {
        font-size: 100%;
        text-align: center;
        text-transform: uppercase;



    }


    /*Silkeborg renseri knap*/

    .silkeborgrenseri {
        width: 90%;
        margin-left: 2.5%
    }


    .silkeborgcontainer {
        position: relative;
        text-align: center;
    }

    .silkeborg_tekst {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #1f2022;
        color: white;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 2%;
        border: solid;
        border-color: #ff6819;
    }

    .silkeborg_tekst p {
        font-size: 100%;
        text-align: center;
        text-transform: uppercase;
    }

    .renseripil {
        color: #ff6819;
    }



    /*storytelling*/



    /*første storytelling, deres why*/
    #streetfyr {
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%
    }


    /*deres why, citat*/
    .citat {
        margin-top: 16%;
        font-style: italic;

    }

    .citatdennis {
        font-weight: bold;
        text-align: center;
    }


    /*sidste storytelling*/
    .storysneaks {
        width: 45%;
        margin-left: 4%;
        margin-top: 15%;
    }

    .storypige {
        width: 45%;
    }

    .storypige1 {
        width: 45%;
    }

    #landinglink,
    #landinglink1,
    #landinglink2 {
        color: #1f2022;
    }





    /*footer med nyhedsbrev*/

    .footerlanding {
        margin-top: 20%;
        margin-left: none;
        margin-right: none;
        background-color: #f1f1f1;
    }


    .nyhedsbrev {
        padding-top: 5%;
        text-align: center;
    }

    .tekstfelt {
        display: flex;
        flex-direction: column;
    }

    .navn {
        width: 50%;
        margin-left: 25%;
    }

    .mail {
        width: 50%;
        margin-left: 25%;
        margin-top: 5%;
    }

    .tilmeldknap {
        margin-top: 5%;
        padding: 3%;
        padding-left: 6%;
        padding-right: 6%;
        margin-left: 39%;
        color: white;
        background-color: #1f2022;
        border: none;
    }

    .footercleansneaks {
        text-align: center;
        margin-top: 10%;
    }


    .some {
        display: flex;
        width: 20%;
        margin-left: 40%;
    }
}







/*----------------STØRRE SKÆRME-------------------*/

@media all and (min-width: 769px) {



    /*Clean Sneaks Forside / Landingpaoge*/

    /*Generelt på forsiden*/
    .webshop {
        display: none;
    }

    .mobilheader {
        display: none;
    }

    .deskheader {
        width: 100%;
        opacity: 0.7;
    }

    .storypige1 {
        display: none;
    }

    #landingmenu {
        margin-top: 4%;
        margin-left: %
    }


    /*para*/
    #test {
        background-image: url(../images/shoot-n-design-70930-unsplash.jpg);

        height: 100%;


        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


    #landingmenu {
        background-image: url(../images/test.jpg;);
    }


    /*desktop menu knapper landing*/



    .desktopimg {
        width: 103%;
    }

    .aarhusrenseri {
        width: 70%;
    }

    .silkeborgrenseri {
        width: 70%;
    }


    /*desktop menu knapper landing GRID*/

    .desktopwebshop {
        grid-area: webshop;
    }

    .desktopaarhus {
        grid-area: aarhus;
    }

    .desktopsilke {
        grid-area: silke;
    }






    .landingdeskmenu {


        display: grid;
        grid-gap: 2%;
        margin-left: 28%;

        grid-template-columns: 35% 27.5%;
        grid-template-areas: "webshop  aarhus"
            "webshop aarhus"
            "webshop  silke"
            "webshop silke"
    }







    /* webshop-menu-knap tekst på billeder*/



    .webshop_container {
        position: relative;
        text-align: center;
    }

    .tekst_webshop {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #1f2022;
        color: white;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 2%;
        border: solid;
        5px;
        border-color: #f1f1f1;


    }

    .tekst_webshop p {
        font-size: 25px;
        text-align: center;
        text-transform: uppercase;
    }



    #webshoppil {
        color: #f1f1f1;

    }


    .desktopwebshop {
        transition: transform .2s
    }

    .desktopwebshop:hover {
        transform: scale(1.1)
    }



    /* renserierne knapper tekst på billederne*/




    /* Århus renseri knap*/

    .aarhusrenseri {

        width: 90%;
        margin-left: 2%;
        margin-bottom: 5%;
    }



    .aarhuscontainer {
        position: relative;
        text-align: center;
    }

    .aarhus_tekst {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #1f2022;
        color: white;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 2%;
        border: solid;
        border-color: #ff6819;



    }

    .aarhus_tekst p {
        font-size: 100%;
        text-align: center;
        text-transform: uppercase;



    }


    .desktopaarhus {
        transition: transform .2s
    }

    .desktopaarhus:hover {
        transform: scale(1.1)
    }

    /*Silkeborg renseri knap*/

    .silkeborgrenseri {
        width: 90%;
        margin-left: 2.5%
    }


    .silkeborgcontainer {
        position: relative;
        text-align: center;
    }

    .silkeborg_tekst {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #1f2022;
        color: white;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 2%;
        border: solid;
        border-color: #ff6819;
    }

    .silkeborg_tekst p {
        font-size: 100%;
        text-align: center;
        text-transform: uppercase;
    }

    .renseripil {
        color: #ff6819;
    }

    .desktopsilke {
        transition: transform .2s
    }

    .desktopsilke:hover {
        transform: scale(1.1)
    }



    /*Storytelling desktop*/



    .storytelling1 {
        margin-top: 15%;
        margin-left: 8%;
        margin-right: 8%;
        display: flex;
        flex-direction: row;
        align-content: center;
    }

    .fyr1 {
        width: 40%;
        margin-left: 5%;
        margin-top: 5%
    }

    #streetfyr {
        width: 100%;
    }

    .story1 {
        width: 55%;
        padding-top: 7%;

    }


    .storytelling2 {
        margin-top: 15%;
        margin-right: 8%;

        display: flex;
        flex-direction: row-reverse;
    }

    .sko1 {
        width: 35%;
    }

    .storysneaks {
        width: 100%;
    }

    .story2 {
        width: 55%;
        padding-top: 6%
    }



    .citat {
        margin-top: 16%;
        margin-left: 10%;
        font-style: italic;

    }

    .citatdennis {
        font-weight: bold;
        text-align: center;
    }



    .storytelling3 {
        margin-top: 15%;
        margin-left: 8%;
        margin-right: 8%;
        display: flex;
        flex-direction: row-reverse;
        align-content: center;
        margin-bottom: 15%;
    }

    .pige {
        width: 40%;

    }

    .storypige {
        width: 100%;
    }

    .storypige1 {
        width: 100%;
    }

    .story3 {
        width: 55%;
        padding-top: 7%;
        margin-right: 4%;
    }

    .landingoverskrift {
        text-align: center;
        font-size: 150%
    }

    #landinglink,
    #landinglink1,
    #landinglink2 {
        color: #1f2022;
    }










    /* ------- Clean Sneaks Århus ----- */

    /* ------- landingpage ---- */

    .landing-page {
        position: relative;
    }

    .landing-page h1 {
        position: absolute;
        font-size: 60px;
        margin-top: 3%;
        color: #ff6819;
    }

    .landing-page h2 {
        font-family: 'axiforma-light-italic';
        color: white;
        opacity: 0.6;
        position: absolute;
        font-size: 18px;
        margin-top: 16%;

    }

    .landing-page section {
        margin-left: 7%
    }

    .hero-image-mobil {
        display: none;
    }

    .hero-image-computer {
        width: 100%;

    }

    .landing-page ul {
        font-family: 'Axiforma';
        font-size: 13px;
        line-height: 28px;
        position: absolute;
        text-align: left;
        list-style: none;
        bottom: 15%;
        left: 4%;
    }

    .landing-page li {
        border-style: solid;
        border-color: transparent;
        border-left-width: 3px;
        border-left-color: #d1641d;
        padding-left: 7px;
    }

    .landing-page a:link,
    a:visited {
        color: white;
        opacity: 0.6;
        text-decoration: none;
    }

    .landing-page a:hover {
        color: #d1641d;
        opacity: 1;
    }


    /* ----- Hvem er vi? ---- */

    .hvem-er-vi {
        margin: 8%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .hvem-er-vi h2 {
        font-size: 35px;
        text-decoration: underline;
        text-decoration-color: #ff6819;
    }

    .tekst-hvem-er-vi {
        width: 45%;
        align-self: center;
    }

    .hvem-er-vi img {
        width: 45%;
        height: auto;
        align-self: center;
    }

    /* ------ Så nemt er det ----- */


    .saa-nemt-er-det {
        margin: 8%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .saa-nemt-er-det h2 {
        text-decoration: underline;
        text-decoration-color: #ff6819;
        font-size: 35px;
    }

    .tekst-saa-nemt-er-det {
        width: 45%;
        align-self: center;
    }

    .saa-nemt-er-det img {
        width: 45%;
        height: auto;
        align-self: center;
    }


    /* ------ Prisberegner ------ */


    .tilbud-og-prisberegner {
        margin: 8%;
    }

    .tilbud-og-prisberegner h2 {
        font-size: 35px;
        text-decoration: underline;
        text-decoration-color: #ff6819;

    }

    .tilbud-og-prisberegner h3 {
        font-family: 'axiforma-light-italic';
        font-size: 20px;
    }

    .tilbud {
        display: flex;
        flex-direction: row;
    }

    input[type=image] {
        width: 95%;
    }

    .antal-sko-og-tilvalg {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: space-between;

    }

    .tilvalg ul {
        font-family: 'Axiforma';
        list-style: none;
    }

    .tilvalg {}

    input[type=number] {
        width: 30%;
        margin-left: 35%
    }

    .antal-sko p {
        font-size: 20px;
        text-align: center;
    }

    .antal-sko {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-top: 8%;
        margin-right: 8%;
    }

    /* Anbefalinger */


    
    
    .anbefalinger {
        width: 100%;
        position: relative;
        padding-top: 100%;
    }

    .overskrift-anbefalinger {
        font-size: 30px;
        text-decoration: underline;
        text-decoration-color: #ff6819;
        text-align: center;
    }

    .anbefalinger-container {
        position:
    }
    
    .anbefaling {
        position: absolute;
        width: 60%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translate(25%, 0%);
    }

    .knap-hoejre {
        position: relative;
        color: #fff;
        background-color: #1f2022;
        border: none;
        position: absolute;
        padding: 10px;
        top: 15%;
        left: 80%
    }

    .knap-venstre {
        position: relative;
        color: #fff;
        background-color: #1f2022;
        border: none;
        position: absolute;
        padding: 10px;
        top: 15%;
        left: 20%;
    }

    /* Twenty-twenty slider */

    .hvorfor-clean-sneaks h2 {
        text-decoration: underline;
        text-decoration-color: #ff6819;
    }
    
    .hvorfor-clean-sneaks-tekst {
        width: 60%;
        position: relative;
    }
    
    .hvorfor-clean-sneaks {
        width: 50%;
        display: flex;
        justify-content: space-around;

    }

    
    
    /* Hvor er drop-off boksen? */

    .map-og-guide {
        display: flex;
        flex-direction: row;
    }
    
    .hvor-er-boksen-map {
        position: relative;
        height: 70vh;
        width: 50%;
        margin-left: 5%;
    }

    .hvor-er-boksen-tekst h2 {
        text-decoration: underline;
        text-decoration-color: #ff6819;
    }
    
    .hvor-er-boksen-tekst {
        margin: 5%;
        margin-top: 10%;
        width: 46%;
    }
    
    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }
    
    .billede-guide {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin-left: 3%;
    }
    
    /* Snippet https://www.w3schools.com/howto/howto_js_tab_img_gallery.asp  */

    /* The grid: Four equal columns that floats next to each other */
    .column {
        position: abs;
        width: 20%;
        padding-left: 10px;
    }

    .row {
        width: 80%;
        display: flex;
        align-content: center;
    }

    /* Style the images inside the grid */
    .column img {
        width: 100%;
        opacity: 0.8;
        cursor: pointer;
    }

    .column img:hover {
        opacity: 1;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
    }

    /* The expanding image container (positioning is needed to position the close button and the text) */
    .container {
        position: relative;
        width: 85%;
        display: none;
        margin-top: 5%;
    }

    /* Expanding image text */
    #imgtext {
        position: absolute;
        bottom: 20px;
        left: 10px;
        color: white;
        font-size: 20px;
    }

    /* Closable button inside the image */
    .closebtn {
        position: absolute;
        color: white;
        font-size: 70px;
        cursor: pointer;
        z-index: 1;
    }


    /* Kontakt og pris */

    .kontakt-og-priser {
        display: flex;
        margin-left: 8%;
        margin-right: 8%;
        justify-content: space-around;
        margin-bottom: 5%;
    }

    .kontakt-og-priser h2 {
        text-decoration: underline;
        text-decoration-color: #ff6819;
        padding-top: 8%;
        text-align: center;
    }

    .kontakt-og-priser p {
        font-size: 20px;
        text-align: center;
    }

    .galleri-grisk {
        width: 45%;
        padding-top: 3%;
        align-self: center;
    }



    /* ----- Footer ----- */

    footer {
        position: relative;
        background-color: #f1f1f1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .top-footer {
        margin-left: 10%;
        margin-bottom: 3%;
    }

    .bottom-footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .some img {
        width: 5%;
        position: absolute;
        bottom: 15px;
        left: 15px;
    }

    .facebook {
        margin-left: 5%;
    }


    .tilmeldknap {
        margin-top: 2%;
        padding: 2%;
        padding-left: 9.2%;
        padding-right: 9.2%;
        color: white;
        background-color: #1f2022;
        border: none;
    }

}

@media all and (min-width: 1100px) {


    #test p {
        line-height: 200%
    }

    .story1,
    .citat,
    .story3 {
        padding-left: 5%;
        padding-right: 5%;
    }


    .story1 {
        padding-top: 16%;
    }

    .citat {
        padding-top: 5%;
    }

    .story3 {
        padding-top: 9%;
    }

    .landingoverskrift {
        font-size: 250%;
    }
}
